/* Header met blauwe naar paarse gradient */
header {
   align-items: center;
   background: linear-gradient(90deg, #00509E, #6A0DAD);
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;
}

/* Logo afmetingen */
.logo {
   height: auto; 
   width: 350px; 
}

/* Navigatie menu */
nav ul {
   display: flex;
   flex-flow: row nowrap;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav ul li {
   margin-left: 20px;
}

nav ul a {
   color: #FFFFFF; 
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 18px;
   padding: 10px 20px; 
   background-color: rgba(0, 80, 158, 0.8);
   border-radius: 18px;
   transition: background-color 0.3s ease; 
}

nav ul a:hover {
   background-color: rgba(106, 13, 173, 0.8); 
}

nav ul .active a {
   background-color: rgba(106, 13, 173, 0.8);
}

/* Footer */
footer {
   text-align: center;
   padding: 20px;
   background-color: #666;
   color: #FFFFFF; 
}
