/* Header met blauwe naar paarse gradient */
header {
   align-items: center;
   background:#00379E;
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;
}

/* Logo afmetingen */
.logo {
   height: auto; 
   width: 350px; 
}

/* Navigatie menu */

nav ul {
   display: flex;
   list-style: none;
}

nav a {
   border-radius: 6px;
   color: #fff;
   display: block;
   font-size: 14px;
   font-weight: bold;
   margin: 4px;
   padding: 10px 20px;
   text-decoration: none;
   text-transform: uppercase;
   transition: background 0.6s;
}

nav li.active a, nav li:hover a {
   background: #009E;
}


/* Footer */
footer {
   text-align: center;
   padding: 20px;
   background-color: #666;
   color: #FFFFFF; 
}
